* {
    font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "sans-serif";
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
}

html{
    scroll-behavior: smooth !important;
}

    @keyframes fadeAndScale {
        from {
            opacity: 0;
            transform: scale3d(.70, .70, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
}

::-webkit-date-edit-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/* header {
    height: 80px !important;
    left: 0px !important;
    width: 100% !important;
    z-index: 100 !important;
    font-weight: 600;
    display: flex !important;
    justify-content: center !important;
    /* text-align: center !important; */
    /* align-content: center !important; */
    /* text-align: center;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    top: 0;
    margin: 10px 0px !important;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom; */
/* }  */

.sticky{
    position: sticky !important;
    bottom: 50px;
}

#content-header-wrapper::-webkit-scrollbar{
    background-color: unset !important;
}

#content-header-wrapper {
    padding: 0 80px;
    display: flex;
    margin: 15px 0px !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
}

svg {
    width: 102px;
    height: 32px;
    fill: #FF385C;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 0;
    margin-top: 13px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
}

#border-form{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px !important;
    color: rgb(34, 34, 34) !important;
    display: flex !important;
    max-width: 100% !important;
    width: fit-content;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(247, 247, 247) !important;
    border-image: initial !important;
    border-radius: 15px !important;
    width: 100% !important;
    
}

nav{
    margin-top: 5px;
}

input:focus{
    outline: none;
}

#all-inputs{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100% !important;
    align-items: stretch;
}

.input-rounder{
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap;
    align-items: stretch;
}

.label-local{
    display: block !important;
    cursor: pointer !important;
    position: relative !important;
    z-index: 2 !important;
    transition: border-color 0.2s ease 0s !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: initial !important;
    border-radius: 12px !important;
    padding: 16px 22px !important;
}

.text-label{
    font-size: 12px !important;
    line-height: 10px !important;
    font-weight: 700 !important;
    letter-spacing: 0.04em !important;
    text-transform: uppercase !important;
    padding-bottom: 4px !important;
    text-align: center !important;
}



.input-text{
    display: flex !important;
    width: 100% !important;
    align-content: center !important;
    justify-content: center !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    color: rgb(34, 34, 34);
    text-overflow: ellipsis !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    margin: 0px !important;
    padding: 0px !important;
    background: none !important;
}


.space-columns{
    align-self: center !important;
    height: 44px !important;
    border-right: 1px solid rgb(221, 221, 221) !important;
    flex: 0 1 0px !important;
}

input{
    text-align: center;
}

::placeholder{
    font-size: 10px;
    opacity: 0.5;
    text-align: center;
    align-content: center;
}


#id-submit-button{
    margin-left: 2px !important;
    padding: 11px !important;
}

#submit-button{
    cursor: pointer !important;
    display: inline-flex !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    color: rgb(255, 255, 255) !important;
    white-space: nowrap !important;
    margin: 10px 20px !important;
    text-decoration: none !important;
    border-radius: 8px !important;
    outline: none !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
}

#nome-submit{
    color: white;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
}

.tipo{
    font-size: 14px !important;
    line-height: 18px !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    margin-top: 15px;
    /* margin-bottom: 6px; */
    width: 100% !important;
    float: left !important;
}

.star{
    display: flex !important;
    float: right !important;
    justify-content: space-between !important;
    
}

.star-rating{
    height: 12px !important;
    width: 12px !important;
    margin: 0px !important;
}

.rating {
    padding-left: 4px !important;
    padding-right: 10px !important;
}
.tipo-texto{
    
    background-color: #FFFFFF !important;
    border-radius: 4px !important;
    border: solid 1px #222222 !important;
    color: #222222 !important;
    float: left !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    text-align: left !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    
}

.date-failure::-webkit-input-placeholder {
    color: #FF385C !important;
    font-weight: bold !important;
    opacity: 1;
}

.main-wrapper{
    padding: 0 50px !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
}

.title-contents{
    padding: 10px 80px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;

}

.div-filter-buttons{
    cursor: pointer !important;
    text-align: center !important;
    align-content: center !important;
    padding-top: 12px !important;
    padding-bottom: 8px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.filter-buttons{
    background-color: #fff; 
    border-color: #B0B0B0 !important;
    border-radius: 30px !important;
    color: #222222 !important;
    padding: 10px 24px !important;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    outline: none !important;

}

h1{
    font-weight: 800 !important;
    font-size: 32px !important;
    line-height: 16px !important;
}

.filter-buttons:hover {
    background-color: #e7e7e7 !important;
    transition-duration: .3s linear !important;
    cursor: pointer;
    outline: none !important;
}

.articles {
    margin-top: 10px;
    border-radius: 25px;
    width: 33% !important;
    text-align: center;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    max-width: 100% !important; 
    padding: 20px 30px !important;
}

.article-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    font: 10px;
    height: auto !important;
    background-image: initial;
    object-fit: fill;
}
.articles:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 8px !important;
    cursor: pointer;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.body-article {
    padding: 8px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 100% !important;
    font-size: 16px;
    text-align: left;
    overflow: hidden !important;
}
.body-height {
    height: 7.5rem !important;
}

.text-footer {
    font-size: .9rem !important;
    width: 100% !important;
}

.footer-left {
    float: left !important;
    align-items: center !important;
    color: #222222 !important;
    display: flex !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.preco{
    font-weight: 800 !important;
}

.valor-total{
    color: rgb(113, 113, 113) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    padding-top: 8px !important;
    float: left !important;
}
img {
    width: 100% !important;
    height: 220px !important;
    border-radius: 25px;
    max-width: 100% !important;
    background: fill;
    
}

@media (max-width: 1440px) {
    #content-header-wrapper {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

}

@media (max-width: 1024px){
    #content-header-wrapper {
        padding-left: 20px !important;
        padding-right: 20px !important;
        align-items: center;
        justify-content: center;
    }
    
    .label-local {
        padding: 10px 15px !important;
    }

    #all-inputs{
        max-width: 100%;
    }

    .main-wrapper {
        margin-top: 20px !important;
    }
}

@media (max-width: 768px){
    #content-header-wrapper {
        padding-left: 20px !important;
        padding-right: 20px !important;
        align-items: center;
        justify-content: center;
    }
    
    .label-local {
        padding: 10px 15px !important;
    }

    #all-inputs{
        max-width: 100% !important;
    }

    .articles{
        width: 100% !important;
        height: auto !important;
    }

    .main-wrapper {
        margin-top: 20px !important;
    }


}

@media (max-width: 550px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #div-submit-button{
        display: inline-block !important;
        width: 100% !important;
        align-self: center !important;
    }

    .input-rounder {
        align-self: center !important;
        width: 100% !important;
    }
    .space-columns {
        display: none !important;
    }

    .text-label, .input-text, .label-local {
        align-self: center !important;
        width: 100% !important;
    }

}

.pagenumbers{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;
    margin: 20px !important;
}

.pagenumbers button{
    width: 30px;
    height: 20px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    margin: 5px;
    transition: 0.4s;
    color: #222222;
    font-size: 16px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button.active{
    background-color: #e7e7e7;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover{
    background-color: #e7e7e7;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #div-submit-button{
        display: inline-block !important;
        width: 100% !important;
        align-self: center !important;
    }

    .input-rounder {
        align-self: center !important;
        width: 100% !important;
    }
    .space-columns {
        display: none !important;
    }

    .text-label, .input-text, .label-local {
        align-self: center !important;
        width: 100% !important;
    }

}

@media (max-width: 425px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #div-submit-button{
        display: inline-block !important;
        width: 100% !important;
        align-self: center !important;
        text-align: center !important;
    }

    .articles{
        width: 100% !important;
        padding: 0px !important;
    }

    .main-wrapper{
        padding: 5px !important;
    }
    .input-rounder {
        align-self: center !important;
        width: 100% !important;
    }
    .space-columns {
        display: none !important;
    }

    .text-label, .input-text, .label-local {
        align-self: center !important;
        width: 100% !important;
    }


}

@media (max-width: 405px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .articles{
        width: 100% !important;
        padding: 0px !important;
    }

    .main-wrapper{
        padding: 5px !important;
    }

    .input-rounder {
        align-self: center !important;
        width: 100% !important;
    }
    .space-columns {
        display: none !important;
    }

    .text-label, .input-text, .label-local {
        align-self: center !important;
        width: 100% !important;
    }

}

@media (max-width: 375px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #div-submit-button{
        display: inline-block !important;
        width: 100% !important;
        align-self: center !important;
    }
    .articles{
        width: 100% !important;
        padding: 0px !important;
    }

    .main-wrapper{
        padding: 5px !important;
    }

    .input-rounder {
        align-self: center !important;
        width: 100% !important;
    }
    .space-columns {
        display: none !important;
    }

    .text-label, .input-text, .label-local {
        align-self: center !important;
        width: 100% !important;
        margin-bottom: 20px !important;
    }
} 

@media (max-width: 320px){
    #content-header-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .articles{
        width: 100% !important;
        padding: 0px !important;
    }

    .main-wrapper{
        padding: 5px !important;
    }

    .input-rounder {
        align-self: center;
    }

    .label-local {
        padding: 10px 25px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #border-form {
        align-items: center !important;
        justify-content: center !important;
        max-width: 100% !important;

    }

    .space-columns {
        display: none !important;
    }
} 


footer{
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    padding: 8px;
    width: 100%;

}

img.footer_image{
    width: 38px !important;
    height: 38px !important;
    border-radius: 10px !important;
    margin: 4px 10px !important;
    


}