* {
    font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "sans-serif";
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
}

    @keyframes fadeAndScale {
        from {
            opacity: 0;
            transform: scale3d(.70, .70, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
}

header {
    height: 80px !important;
    left: 0px !important;
    width: 100% !important;
    z-index: 100 !important;
    font-weight: 600;
    --header-brand-color: #FF385C !important;
    display: block;
    margin-top: 30px;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#content-header-wrapper {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
}

svg {
    width: 102px;
    height: 32px;
    fill: #FF385C;
    margin-top: 12px;
}

hr {
    border: 0;
    height: 0;
    padding-right: 13px;
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#choose-options{
    border-radius: 12px;
}

#form{
    float: right;

}